@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>   
       <link rel="stylesheet" href="@routes.Assets.versioned("css/menubar.css")">
       <!--   <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")"> -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  		<script src="@routes.Assets.versioned("js/lib/javascript/jquery.min.js")"></script>
  		<script src="@routes.Assets.versioned("js/lib/bootstrap/bootstrap.min.js")"></script>
        <div>
   <ul>
  <li><a href="/create">Create</a></li>
  <li class="dropdown">
    <a class="dropbtn">Maintain</a>
    <div class="dropdown-content" id="myDropdown">
       <a href="/playuser/1/20" method="get" >User List</a>
    	</div>
  	</li>
	</ul>
	</div>
</head>
<body>
@if(flash.containsKey("success")) {
        <div class="alert-message warning">
        <strong>Done!</strong> 
            @flash.get("success")
        </div>
       } 
       
       
@content
</body>
</html>