@(message: String,playuser: Form[model.PlayUser])


@import helper._
@import views.html._



@main("Welcome") {


<div class="container">
	<h1>User detail</h1>
</div> 
@form(routes.PlayUserController.create() ) {
<fieldset>
@text(playuser("firstName"), label = "First Name", typee="text" )
@text(playuser("lastName"), label = "lastName",  typee="text")
@text(playuser("emailAddress"), label = "emailAddress", typee="email")
@text(playuser("streetName"), label = "streetName",  typee="text")
@text(playuser("houseNumber"), label = "houseNumber", typee="text")
@text(playuser("city"), label = "City", typee="text")
@text(playuser("birthDate"), label = "BirthDate",  typee="date")
@text(playuser("userName"), label = "UserName",   typee="text")
@text(playuser("password"), label = "Password",  typee="password")


            
			
</fieldset>			

<div class="actions">
            <input type="submit" value="Create" class="btn primary"> 
</div>


}
}